{% extends 'order_app/base.html' %}

{% block content %}


	<br>

<div class="row">
	<div class="col-md-2">
		<div class="card">
			<div class="card-header text-center bg-dark text-white">MENU</div>
 		    <div class="card-body bg-secondary text-white">
				<a class="btn btn-secondary btn-sm btn-block" style="margin: 2px;"
				   href="{% url 'order_app:orders' %}">ZAMÓWIENIA</a>
				<a class="btn btn-secondary  btn-sm btn-block" style="margin: 2px;" href="">UŻYTKOWNICY</a>
				<a class="btn btn-secondary  btn-sm btn-block" style="margin: 2px;" href="">PRODUKTY</a>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-center bg-dark text-white">Ilość zleceń w trakcie realizacji</div>
 		    <div class="card-body">
<!--				<h5 class="card-title">Special title treatment</h5>-->
				<p class="card-text text-center">{{ pending }}</p>
				<a class="btn btn-info  btn-sm btn-block" style="margin: 2px;" href="">Zobacz</a>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-center bg-dark text-white">Ilość zamówionych zleceń</div>
 		    <div class="card-body">
				<p class="card-text text-center">{{ ordered }}</p>
				<a class="btn btn-info  btn-sm btn-block" style="margin: 2px;" href="">Zobacz</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-center bg-dark text-white">Ilość dostarczonych zleceń</div>
 		    <div class="card-body">
				<p class="card-text text-center">{{ delivered }}</p>
				<a class="btn btn-info  btn-sm btn-block" style="margin: 2px;" href="">Zobacz</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}